node_modules
.vscode
.coverage
*__pycache__/
*/__pycache__/*
*/__init__.cpython-312.pyc
*__init__*
*.py[cod]
*$py.class
src/quant_research_starter.egg-info/PKG-INFO
.venv/
myenv/
node_modules/
src/quant_research_starter/frontend/cauweb/dist/
src/quant_research_starter/frontend/metrics/dist/
build/
dist/
*.egg-info/
*.egg
pip-wheel-metadata/
output/
*.py[cod]
*.pyo
*.pyd
*.log
.vscode/
.idea/
\.venv
.env
.env.local
*.env
*.env.local