node_modules
.vscode
.coverage
__pycache__/
*.py[cod]
*$py.class
src/quant_research_starter.egg-info/PKG-INFO
.venv/
myenv/
node_modules/
src/quant_research_starter/frontend/cauweb/dist/
src/quant_research_starter/frontend/metrics/dist/
build/
dist/
*.egg-info/
*.egg
pip-wheel-metadata/
output/

__pycache__/
*.py[cod]
*.pyo
*.pyd
*.log
.vscode/
.idea/
\.venv\
.venv\
\.venv